<header class="main-header animate" ng-class="{'open':menuOpened}">
  <hgroup>
    <a href="#/" rel="home">
      <span class="picture">
        <img ng-src="images/pic.jpg" />
      </span>
      <h1 class="h3">Jose I. Honrado</h1>
      <h2 class="h4">Software Engineer</h2>
    </a>
  </hgroup>
  <nav>
    <ul class="main-nav">
      <li><a href="#/twitter"><span class="icon twitter"></span><span class="txt">Twitter</span></a></li>
      <li><a href="#/github"><span class="icon github"></span><span class="txt">Github</span></a></li>
      <li><a href="#/instagram"><span class="icon instagram"></span><span class="txt">Instagram</span></a></li>
      <li><a href="#/tumblr"><span class="icon tumblr"></span><span class="txt">Tumblr</span></a></li>
      <li><a href="#/youtube"><span class="icon youtube"></span><span class="txt">YouTube</span></a></li>
      <li><a href="http://linkedin.com/in/jihonrado" target="_blank"><span class="icon linkedin"></span><span class="txt">LinkedIn</span></a></li>
      <li><a href="https://speakerdeck.com/u/jihonrado" target="_blank"><span class="icon speakerdeck"></span><span class="txt">Speaker Deck</span></a></li>
      <li><a href="mailto:jihonradob@gmail.com"><span class="icon contact"></span><span class="txt">Contact</span></a></li>
    </ul>
    <a href="https://github.com/jihonrado/jihonrado.com" class="about-link" target="_blank">About this site</a>
  </nav>
  <span class="nav-btn" ng-click="toggleMenu()">
    <span class="nav-btn-bar nb-1"></span>
    <span class="nav-btn-bar nb-2"></span>
    <span class="nav-btn-bar nb-3"></span>
  </span>
</header>
